{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "wrap-in-js",
      {
      "extensions": ["css$", "scss$", "less$"]
      }
    ],
    [
      "transform-assets-import-to-string",
      {
        "baseDir": "static",
        "baseUri": "/"
      }
    ]
  ]
}